.nutrientCard {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	width: 18vw;
	height: 12vh;
	border-radius: 5px;
	background-color: #fbfbfb;
}

.nutrientCard div p {
	color: #282d30;
	font-size: 20px;
	font-weight: 700;
	margin: 0 0.5rem;
}

.nutrientCard div span {
	color: #7479bc;
	font-size: 14px;
	font-weight: 500;
	margin: 0 1rem;
}
